{% extends "layout.html" %}

{% block title %}Identificação do Cliente{% endblock %}

{% block content %}
<h1>Informe o Cliente</h1>
<form method="POST" action="{{ url_for('vendaC.processar_compra') }}">
    <div>
        <label for="cliente_id">Cliente:</label>
        <select name="cliente_id" required>
            {% for cliente in clientes %}
                <option value="{{ cliente.id }}">{{ cliente.nome }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-success">Confirmar Venda</button>
</form>
{% endblock %}